* { 
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar { 
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex; /**same line all**/
    align-items: center;/**center ko atta he**/
    justify-content: space-evenly;

}

.nav-bar { 
    height: 50px;
    width: 100px;

}

.logo { 
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.border { 
    border: 2px solid transparent;
}

.border:hover { 
    border: 2px solid white;
}

 

/** box? **/
.add-first { 
color: #cccccc;
font-size: 0.8rem;
margin-left: 15px;

}

.add-second { 
    font-size: 1rem;
    margin-left: 3px;
}


.add-icon { 
    display: flex;
    align-items: center;
}

/**box3**/
.nav-search { 
    display: flex;
    justify-content: space-evenly;
   background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 3px;
}

.nav-search:hover { 
    border: 2px solid  rgb(239, 180, 52);
}

.search-select { 
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}

.search-input { 
    width: 100%;
    font-size: 1rems;
    border: none;
}

.search-icon { 
    width: 45px;
    align-items: center;
    display: flex;
    justify-content: center;/** center ko aani keliye**/
    font-size: 1.2rem;
    background-color: rgb(239, 180, 52);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #0f1111;
}

/** box 4**/
span { 
    font-size: 0.7rem;

}
.nav-sec { 
    font-size: 0.85rem;
    font-weight: 700;
}

/**box 6**/
.nav-cart i { 
    font-size: 30px;
}

.nav-cart { 
    font-size: 0.85rem;
    font-weight: 700;
}


.panel { 
    height: 40px;
    background-color: #222f32;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p { 
    display: inline;
    margin-left: 13px;
   
}

.panel-ops { 
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals { 
    font-size: 0.9rem;
    font-weight: 700;
}

/** hero section **/
.hero-section { 
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;/** You are on amazon com.You can also shop on Amazon india**/
    justify-content: center;
    align-items: flex-end;
}

.hero-msg { 
    color: black;
   
   background-color: white;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 0.85rem;
   width: 80%;
   margin-bottom: 25px;
   
}

.hero-msg a { 
    color: #007185;
}

/**shop-section**/
.shop-section { 
    display: flex;
    flex-wrap: wrap;/** next 4 images **/
    justify-content: space-evenly;/**space box me**/
    background-color: #e2e7e6;
}
.box { 
    margin-top: 15px;
   /** border: 2px solid black;**/
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    
}



.box-img { 
   /** background-image: url("box1_image.jpg");**/
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

.box-content { 
    margin-left: 1rem;
    margin-right: 1rem;
}

.shop-section p { 
    color: #007185;
}

.foot-panel { 
    background-color: #374758;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-top: 5px;
}

.foot-panel1 { 
   
    background-color: #222f32;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;


}

ul { 
    margin-top: 10px;
}

ul a { 
     font-size: 0.85rem;
    display: block;
    margin-top: 10px;
    color: #ddd;
}



